<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.ejemplo.kevroman.calculadoranueva">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SumaActivity">
            <intent-filter>
                <action android:name="edu.ejemplo.kevroman.calculadoranueva.SumaActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".RestaActivity">
            <intent-filter>
                <action android:name="edu.ejemplo.kevroman.calculadoranueva.RestaActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".MultiplicacionActivity">
            <intent-filter>
                <action android:name="edu.ejemplo.kevroman.calculadoranueva.MultiplicacionActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".DividirActivity">
            <intent-filter>
                <action android:name="edu.ejemplo.kevroman.calculadoranueva.DividirActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>